:root{
    --primarycolor:#0e6253;
    --secondarycolor:#ffc107;
    --whitecolor:#fff;
    --blackcolor:#222;
    --softgreencolor:#d9f2ee;
    --darkgreycolor:#a7a7a7;
    --greycolor:#f5f5f5;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans',sans-serif;
}
body{
    width: 100%;
    height: auto;
    display: flex;
}
.sidebar{
    height: 100%;
    width: 250px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--primarycolor);
    color: var(--whitecolor);

}
.sidebar-menus{
    display: flex;
    flex-direction: column;
}
.sidebar-menus a, .sidebar-logout a{
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration:none;
    color: var(--whitecolor);

}

.sidebar-menus a , .sidebar-logout a{
    font-size: 20px;
}
.sidebar-menus a:hover,.sidebar-logout a{
    background-color: var(--secondarycolor);
    border-radius: 50px;
}
.main{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softgreencolor);
    margin-left: 155px;
    align-items: ;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-toggle{
    display: none;
}
.search{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whitecolor);
    border-radius: 20px;
}
.search input{
    width: 80%;
    height: 100%;
    padding:20px;
    border: none;
    border-radius: 20px;

}
.search-btn{
    background-color: var(--secondarycolor);
    color: var(--whitecolor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
}
.search:hover{
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}
.search-btn:hover{
    background-color: var(--primarycolor);
}
.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.cart,.user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitecolor);
    font-size: 20px;
    color: var(--primarycolor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;


}
.cart:hover,.user:hover{
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
}
.main-highlight{
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondarycolor);
    border-radius: 8px;

}
.main-hearder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
